# Misc #
*~
*.class
target
classes
*.log
.externalToolBuilders

# Package Files #
*.jar
*.war
*.ear

# Eclipse files #
.project
.settings
.classpath

# NetBeans files #
nbactions*
nb-configuration.xml

# Ignore ganerated java files from maven generate-sources phase #
src/main/java/com/agroknow/domain/parser/jflex/
